

My name is Lijin Liu. I am a developper working at Feinno.  <br />

We serve Feixin(http://feixin.10086.cn) which is the second largest IM service in China.  <br />

I write some C#,Java and C codes.  <br />
